id: python-call-replace-{{TEMPLATE_COUNTER}}
language: Python
rule:
  any:
  {% if ARG1 | default(false) and ARG2 | default(false) %}
    - pattern: ($F)($X1, $X2)
    - pattern: $F($X1, $X2)
  {% elif ARG | default(false) %}
    - pattern: ($F)($X)
    - pattern: $F($X)
  {% elif TPL_ANY_CALL | default(false) %}
    - pattern: $F($$$)
  {% else %}
    - pattern: $F()
    - pattern: ($F)()
  {% endif %}
constraints:
  F:
{% if "." in FUNC %}
    kind: attribute
{% else %}
    kind: identifier
{% endif %}
    pattern: {{FUNC | tojson}}
fix: {{ TPL_FIX | tojson }}
