id: python-rename-identifier-{{TEMPLATE_COUNTER}}
language: Python
rule:
  pattern: {{RENAMED | tojson }}
  kind: identifier
  not:
    any:
      - inside:
          kind: aliased_import
          stopBy: end
      - inside:
          kind: import_statement
          stopBy: end
      - inside:
          kind: import_from_statement
          stopBy: end
      - inside:
          pattern: {{ORIGINAL | tojson }}
          stopBy: end
      - all:
          - inside:
              kind: attribute
          - nthChild: 2
      - inside:
          kind: parameters
          stopBy: end
      - inside:
          kind: function_definition
          stopBy: end
          has:
            kind: parameters
            has:
              stopBy: end
              pattern: {{RENAMED | tojson }}
      - inside:
          kind: function_definition
{% if "." in ORIGINAL %}
{# Global cannot have . in it and it breaks the parser #}
      - inside:
            kind: global_statement
{% endif %}
fix: {{ORIGINAL | tojson}}