id: python-rename-func-{{TEMPLATE_COUNTER}}
language: Python
rule:
  all:
    - any:
      - inside:
          kind: call
      # $FUNC_NAME.a(b)
      - inside:
          kind: attribute
          inside:
            kind: call
      - inside:
          kind: parenthesized_expression
          inside:
            kind: call
      - all:
          - inside:
              kind: default_parameter
          - nthChild: 2
    - matches: renamed

utils:
  renamed:
    kind: identifier
    pattern: {{FUNC_NAME | tojson }}

fix: {{ORIGINAL_NAME | tojson}}