id: python-rename-identifier-{{TEMPLATE_COUNTER}}
language: Python
rule:
  pattern: {{RENAMED}}
  kind: identifier
  not:
    any:
      - inside:
          kind: aliased_import
          stopBy: end
      - inside:
          kind: import_statement
          stopBy: end
      - inside:
          kind: import_from_statement
          stopBy: end
      - inside:
          pattern: {{ORIGINAL}}
          stopBy: end
      - all:
          - inside:
              kind: attribute
          - nthChild: 2
fix: {{ORIGINAL}}